<navbar [pageTitle]="pageTitle"></navbar>
<ion-content *ngIf="isFechedData" style="height: calc(100% - 150px);">
    <ion-grid class="grid-data">
        <ion-row class="header">
            <ion-col>
                <ion-row>Group</ion-row>
                <ion-row>Particulars</ion-row>
            </ion-col>
            <ion-col>
                <ion-row justify-content-end>{{gender}}</ion-row>
                <ion-row justify-content-end>{{selectedParticular}}</ion-row>
            </ion-col>
        </ion-row>
        <ion-row class="sub-header">
            <ion-col>Nutrient</ion-col>
            <ion-col text-right>Value</ion-col>
        </ion-row>
        <ion-row class="item" *ngFor="let item of perticularColumns; let i = index;">
            <ion-col>{{item}}</ion-col>
            <ion-col text-right>{{perticularsToDisplay[i]}}</ion-col>
        </ion-row>
    </ion-grid>
</ion-content>


<!-- <p class="col-sm-12 col-xs-12" style=" font-weight: bold;  position:relative;   margin-top: 10px;   font-family: sans-serif; font-size: 12px;">
        **From plant source - to be divided by 8 for Vitamin A value</p>
        <p class="col-sm-12 col-xs-12" style=" font-weight: bold;  position:relative;   margin-top: 10px;   font-family: sans-serif; font-size: 12px;">* Vitamin A from animal source</p> -->