<navbar [pageTitle]="pageTitle"></navbar>
<style>
    body {
        margin: 0;
    }

    .icon-bar.knowvalues {
        width: 100%;
        background-color: #555;
        overflow: auto;
        height: 60px;
    }

    .icon-bar.knowvalues a {
        float: left;
        width: 20%;
        text-align: center;
        padding: 12px 0;
        transition: all 0.3s ease;
        color: white;
        font-size: 16px;
    }

    .icon-bar a div {
        font-size: 10px;
    }

    .icon-bar.knowvalues a:hover {
        background-color: #000;
    }
</style>
<div style="height:100%; background-color:white;">
    <div class="icon-bar knowvalues">
        <a *ngFor="let recipe of selectedRecipies" (click)="getNutrientValues(recipe)">
            <i class="fa fa-calendar-o"></i>
            <div>{{recipe.item[1]}}</div>
        </a>
        <!--<a  (click)="getTotal()" *ngIf="selectedRecipies.length>1"><i class="fa fa-plus-circle" ></i><div>Total</div></a>-->

    </div>
    <ion-content style="height: calc(100% - 200px);">
        <ion-grid class="grid-data">
            <ion-row class="header">
                <ion-col>Nutrient</ion-col>
                <ion-col>Value</ion-col>
            </ion-row>
            <ion-row class="item" *ngFor="let item of displayValues.columns; let i = index;" [ngStyle]="{'color':(itemNames[item]=='Energy (Kcal)'?'red':'black')}">
                <ion-col *ngIf="itemNames[item]!='Vitamin B12'">{{itemNames[item]}}</ion-col>
                <ion-col *ngIf="itemNames[item]!='Energy (Kcal)' && itemNames[item]!='Vitamin B12' && item!='total_saturated_fatty_acids_TFSA'">{{adjustFractions(displayValues.values[item] * (currentRecipe.value/100))}}</ion-col>
                <ion-col *ngIf="itemNames[item]=='Energy (Kcal)'">{{adjustFractions(((displayValues.values[item])/4.184) * (currentRecipe.value/100))}}</ion-col>
                <ion-col *ngIf="item=='total_saturated_fatty_acids_TFSA'">{{adjustFractions(((displayValues.values[item])/1000) * (currentRecipe.value/100))}}</ion-col>
            </ion-row>
        </ion-grid>
    </ion-content>

    <!-- <table class="col-sm-12 col-xs-12" style=" margin: 0px 10px 10px 10px; ">
        <tr style="color: #f9a938">
            <th>Nutrient</th>
            <th>Value</th>
        </tr>
        <tr *ngFor="let item of displayValues.columns; let i = index;" [ngStyle]="{'color':(itemNames[item]=='Energy (Kcal)'?'red':'black')}">


        </tr>

    </table> -->

</div>