<navbar [pageTitle]="pageTitle" [showSubMenu]="false"></navbar>
<style>
    body {
        margin: 0;
    }
    
    .icon-bar.knowvalues {
        width: 100%;
        background-color: #555;
           overflow-x: auto;
    overflow-y: hidden;
        height: 60px;
    }
    
    .icon-bar.knowvalues a {
        float: left;
        width: 20%;
        text-align: center;
        padding: 12px 0;
        transition: all 0.3s ease;
        color: white;
        font-size: 16px;
    }
    
    .icon-bar a div {
        font-size: 10px;
    }
    
    .icon-bar.knowvalues a:hover {
        background-color: #000;
    }
</style>
<div class="icon-bar knowvalues">
    <a *ngFor="let rawfood of selectedRawfoods" (click)="getNutrientValues(rawfood)"><i class="fa fa-calendar-o" ></i><div>{{rawfood.item[2]}}</div></a>
    <!--<a  (click)="getTotal()" *ngIf="selectedRawfoods.length>1"><i class="fa fa-plus-circle" ></i><div>Total</div></a>-->
</div>
<ion-content  style="height: calc(100% - 170px);">
    <ion-grid class="grid-data">
        <ion-row class="header">
            <ion-col>
                Nutrient
            </ion-col>
            <ion-col>Value
            </ion-col>
        </ion-row>
        <ion-row class="item" *ngFor="let column of columnstodisplay; let i = index" [ngStyle]="{'color':(itemNames[column]=='Energy (Kcal)'?'red':'black')}">
                <ion-col *ngIf="itemNames[column]!='Vitamin B12'">{{itemNames[column]}}</ion-col>
      <ion-col *ngIf="itemNames[column]!='Energy (Kcal)' && itemNames[column]!='Vitamin B12' && column!='total_saturated_fatty_acids_TFSA'">{{adjustFractions(valuestodisplay[column] *(currentRawfood.value/100))}}</ion-col>
     <ion-col *ngIf="itemNames[column]=='Energy (Kcal)'">{{adjustFractions((valuestodisplay[column]/(4.184)) *(currentRawfood.value/100))}}</ion-col>
    <ion-col *ngIf="column=='total_saturated_fatty_acids_TFSA'">{{adjustFractions((valuestodisplay[column]/1000) *(currentRawfood.value/100))}}</ion-col>
        </ion-row>
    </ion-grid>
</ion-content>