<style>
  .rawfood {
    margin: 120px 10px;
    text-align: center;
    top: 0;
    position: absolute;
  }

  .recipiesTables {
    background-color: darkslategray;
    color: white;
    margin: 5%;
  }

  .recipe_submit_button {
    padding: 5px !important;
    background-color: #fabd75;
    -webkit-appearance: button !important;
    color: black !important;
  }

  .mbottom15 {
    margin-top: 15px;
  }
</style>
<div style="background: url(assets/images/rawfood-bg-2.png) no-repeat;     background-size: 100% 100%; height: inherit;">
  <navbar [pageTitle]="pageTitle"></navbar>

  <div style="height:100%; background-color:white;">
    <div class="rawfood form">

      <ion-item class="col-sm-12 col-xs-12 ">
        <ion-select #categoryl class="col-sm-12 col-xs-12  mbottom15" [(ngModel)]="category" (ionChange)="getRawfoodifctReviced()">
          <ion-option value="" selected> All Categories</ion-option>
          <ion-option [value]="categor[0]" *ngFor="let categor of categoryList">{{categor[2]}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-select type="text" name="pass" class="col-sm-12 col-xs-12  mbottom15" [(ngModel)]="selected_language" (ionChange)="getRawfoodifctReviced()">
          <ion-option value="" selected>All Languages</ion-option>
          <ion-option [value]="language[0]" *ngFor="let language of languagesList">
            <span *ngIf="language[0]!='Common.name' && 'scientific.name'">{{language[0]}}</span>
            <span *ngIf="language[0]=='Common.name'">English</span>
          </ion-option>
        </ion-select>
      </ion-item>
      <!--
        <input type="text" class="col-sm-11 col-xs-11 searchInput" [ngModel]="searchStr" (ngModelChange)="getFilteredRecipies($event)"  placeholder="Search  here"/>
        <ul [hidden]="!isDisplayRecipeList" style="list-style: none; text-align: left;text-indent: 10px; border: 1px solid lightgray;position: absolute; max-height: 200%; background-color: white; width: 91%; overflow-y: auto;  z-index: 10;     top: 142px;     margin: 5%;">
      <li *ngFor="let item of filteredRecipies" (click)="addRecipe(item)">{{item[1]}}</li>  
       
      </ul> 
       -->
      <ion-item class="col-sm-12 col-xs-12">
        <ion-input #searchInput type="text" style="margin:0;" [ngModel]="searchStr" (ngModelChange)="getFilteredRawfoods($event)"
          placeholder="Search  here"></ion-input>
      </ion-item>
      <ul [hidden]="!isDisplayRawfoodList" style="list-style: none; text-align: left;text-indent: 10px; border: 1px solid lightgray;position: absolute; max-height: 200%; background-color: white; width: 100%; overflow-y: auto;  z-index: 10;     top: 150px;     margin: 0;">
        <!--<li *ngFor="let item1 of filteredRawfood" (click)="setInput(searchInput, item1)">{{item1[2]}}, ({{item1[1]}}, {{item1[3]}})</li>   -->
        <li *ngFor="let item1 of filteredRawfood" (click)="setInput(searchInput, item1)">
          <span *ngIf="item1[2]">{{item1[2]}},</span> ({{item1[1]}})
        </li>

      </ul>
      <div class="col-sm-12 col-xs-12 mbottom15">
        <input class="submit_button " name="next" style="margin:auto;" type="button" value="Add" (click)="addRawfood(item, searchInput)">
      </div>



      <table class="col-sm-12 col-xs-12" style="background-color: darkslategray;  color: white; margin-top:10px; margin-bottom:10px; ">
        <tr style="background-color:#f9a938;color: black">
          <th></th>
          <th style="margin-left:10px;">Item Name</th>
          <th style="text-align:right; margin-right:10px;">Quantity(g)</th>
        </tr>
        <tr style="color:#f9a938; " *ngFor="let rawfood of selectedRawfoods; let i = index">
          <td>
            <span style="margin-left:10px;" (click)="selectedRawfoods.splice(i, 1)">
              <i class="fa fa-times-circle-o"></i>
            </span>
          </td>
          <td>{{rawfood.item[1]}}</td>
          <td>
            <input type="text" (keydown)="restricttonumbers($event)" [(ngModel)]="selectedRawfoods[i].value" style="background-color: white;    margin: 5px;    width: 100px;    padding: 2px;"
            />
          </td>

        </tr>
      </table>
      <div class="col-xs-12 col-sm-12">
        <input type="button" name="next" class="submit_button" value="Know Value" (click)="getRawfoodValues()" />
        <input type="button" name="next" class="submit_button" value="Clear" (click)="clearValues()" />
      </div>
    </div>
  </div>
</div>