<div style="z-index: 10000;">
  <ion-grid no-padding class="header-bar">
    <ion-row class="primary" justify-content-center>
      <ion-col col-2 align-self-center style="text-align: center" *ngIf="isDisplayFooter && showMenu">
        <span class="menu-icon" menuToggle>
          <i class="fa fa-bars"></i>
        </span>
      </ion-col>
      <ion-col align-self-center style="text-align: center">
        <span class="pageTitle">NUTRIFY INDIA NOW</span>
      </ion-col>
      <ion-col col-2 align-self-center style="text-align: center">
        <img src="assets/icon/NIN_100_LOGO_FINAL.png" width="40">
      </ion-col>
    </ion-row>
    <ion-row *ngIf="showSubMenu" class="secondary" justify-content-center>
      <ion-col align-self-center style="text-align: center">
        <span class="pageTitle">{{pageTitle}}</span>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-row class="footer-bar">
    <ion-col col-2 *ngIf="isDisplayFooter && showHome" (click)="gotoHome()">
      <i class="fa fa-home" [ngStyle]="{'color':'#399445'}"></i>
    </ion-col>
    <ion-col>
        <ion-row>
          <ion-col col-2>
              <img src="assets/icon/nin-logo-main.png" height="30">
          </ion-col>
          <ion-col class="footer-text" text-center>
            ICMR - NIN
          </ion-col>
          <ion-col col-2 text-right>
              <img src="assets/icon/NIN_100_LOGO_FINAL.png" height="30">
          </ion-col>
        </ion-row>
    </ion-col>
    <ion-col col-2 *ngIf="isDisplayFooter"  (click)="popView()">
      <i class="fa fa-reply" [ngStyle]="{'color':'#399445'}"></i>
    </ion-col>

  </ion-row>
  <!-- <a *ngIf="isDisplayFooter && showHome" (click)="gotoHome()">
    <i class="fa fa-home" [ngStyle]="{'color':'#399445'}"></i>
  </a>
  <a *ngIf="isDisplayFooter" style="position:fixed; right:5px; bottom:0; font-size: 35px;z-index:1000;" (click)="popView()">
    <i class="fa fa-reply" [ngStyle]="{'color':'#399445'}"></i>
  </a> -->
</div>