<!--<navbar [pageTitle]="pageTitle"></navbar>
<div class="row">
<div class="col-sm-12 col-xs-12" style="text-align:center ;background-color: #f9a938; margin: 20px 25px 0px 25px; height: 50px;font-size: 20px;font-weight: bold;">{{recipe[1]}}</div>
<table class="col-sm-12 col-xs-12" style="width: 90%; background-color: darkslategray; margin: 25px 5% 0 5%; color: white;">
<tr style="color:#f9a938; ">
    <th>Nutrients</th>
      <th>Values</th>      
    </tr>
<tr *ngFor="let item of displayValues.columns; let i = index;">
      <td>{{itemNames[item]}}</td> 
      <td *ngIf="displayValues.values.length>0">{{displayValues.values[0][i] * (quantity/100)}}</td>      
    </tr>     
    
</table>
</div>-->


<navbar [pageTitle]="pageTitle"></navbar>
<style>
    body {
        margin: 0;
    }
    
    .icon-bar.knowvalues {
        width: 100%;
        background-color: #555;
        overflow: auto;
        height: 60px;
    }
    
    .icon-bar.knowvalues a {
        float: left;
        width: 20%;
        text-align: center;
        padding: 12px 0;
        transition: all 0.3s ease;
        color: white;
        font-size: 16px;
    }
    
    .icon-bar a div {
        font-size: 10px;
    }
    
    .icon-bar.knowvalues a:hover {
        background-color: #000;
    }
</style>
<div  style="height:100%; background-color:white;">
<div class="icon-bar knowvalues">  
    <a *ngFor="let recipe of selectedRecipies" (click)="getNutrientValues(recipe)"><i class="fa fa-calendar-o" ></i><div>{{recipe.item[1]}}</div></a>   
     <a  (click)="getTotal()" *ngIf="selectedRecipies.length>1"><i class="fa fa-plus-circle" ></i><div>Total</div></a>
   
</div>
<div class="container">
<table class="col-sm-12 col-xs-12" style=" margin: 0px 10px 10px 10px; max-height:80%">
<tr style="color: #f9a938">
    <th>Nutrient</th>
      <th>Value</th> 
    </tr> 
    
<tr *ngFor="let item of displayValues.columns; let i = index;" [ngStyle]="{'color':(itemNames[item]=='Energy (Kcal)'?'red':'black')}">
      <td *ngIf="itemNames[item]!='Vitamin B12'">{{itemNames[item]}}</td>
      <!-- <td *ngIf="itemNames[item]!='Vitamin B12'">{{item}}</td>       -->
      <td *ngIf="itemNames[item]!='Energy (Kcal)' && itemNames[item]  && item!='total_saturated_fatty_acids_TFSA' && !isTotalTab">{{adjustFractions(displayValues.values[0][i] * (currentRecipe.value/100))}}</td> 
       <td *ngIf="itemNames[item]=='Energy (Kcal)'  && !isTotalTab">{{adjustFractions(((displayValues.values[0][i])/4.184) * (currentRecipe.value/100))}}</td> 
      <td *ngIf="item=='total_saturated_fatty_acids_TFSA'  && !isTotalTab">{{adjustFractions(((displayValues.values[0][i])/1000) * (currentRecipe.value/100))}}</td>
    <td *ngIf=" itemNames[item] && isTotalTab">{{adjustFractions(totalValues[item])}}</td>
    </tr> 
    
</table>

 <div style="margin-top:10px;" class="col-md-12 text-center">  
      <input type="button" name="next" class="submit_button" value="Submit" (click)="submit()" />    
    </div>

    </div>

</div>