<!--<navbar [pageTitle]="pageTitle"></navbar>
<div class="row">
<div class="col-sm-12 col-xs-12" style="text-align:center ;background-color: #f9a938; margin: 20px 25px 0px 25px; height: 50px;font-size: 20px;font-weight: bold;">{{recipe[1]}}</div>
<table class="col-sm-12 col-xs-12" style="width: 90%; background-color: darkslategray; margin: 25px 5% 0 5%; color: white;">
<tr style="color:#f9a938; ">
    <th>Nutrients</th>
      <th>Values</th>      
    </tr>
<tr *ngFor="let item of displayValues.columns; let i = index;">
      <td>{{itemNames[item]}}</td> 
      <td *ngIf="displayValues.values.length>0">{{displayValues.values[0][i] * (quantity/100)}}</td>      
    </tr>     
    
</table>
</div>-->


<navbar [pageTitle]="pageTitle" [showSubMenu]="false"></navbar>
<style>
    body {
        margin: 0;
    }

    .icon-bar.knowvalues {
        width: 100%;
        background-color: #555;
        overflow: auto;
        height: 60px;
    }

    .icon-bar.knowvalues a {
        float: left;
        width: 20%;
        text-align: center;
        padding: 12px 0;
        transition: all 0.3s ease;
        color: white;
        font-size: 16px;
    }

    .icon-bar a div {
        font-size: 10px;
    }

    .icon-bar.knowvalues a:hover {
        background-color: #000;
    }
</style>

<div class="icon-bar knowvalues">
    <a *ngFor="let recipe of selectedRecipies" (click)="getNutrientValues(recipe)"><i class="fa fa-calendar-o"></i><div>{{recipe.item[1]}}</div></a>
    <!-- <a  (click)="getTotal()" *ngIf="selectedRecipies.length>1"><i class="fa fa-plus-circle" ></i><div>Total</div></a> -->
</div>

<ion-content style="height: calc(100% - 150px);">
    <ion-grid class="grid-data">
        <ion-row class="header">
            <ion-col>Nutrient</ion-col>
            <ion-col>Value</ion-col>
        </ion-row>
        <ion-row class="item" *ngFor="let item of displayValues.columns; let i = index;" [ngStyle]="{'color':(itemNames[item]=='Energy (Kcal)'?'red':'black')}">
            <ion-col *ngIf="itemNames[item]!='Vitamin B12'">{{itemNames[item]}}</ion-col>
            <!-- <td *ngIf="itemNames[item]!='Vitamin B12'">{{item}}</td>       -->
            <ion-col *ngIf="itemNames[item]!='Energy (Kcal)' && itemNames[item]  && item!='total_saturated_fatty_acids_TFSA' && !isTotalTab">{{adjustFractions(displayValues.values[item]
                * (currentRecipe.value/100))}}</ion-col>
            <ion-col *ngIf="itemNames[item]=='Energy (Kcal)'  && !isTotalTab">{{adjustFractions(((displayValues.values[item])/4.184)
                * (currentRecipe.value/100))}}</ion-col>
            <ion-col *ngIf="item=='total_saturated_fatty_acids_TFSA'  && !isTotalTab">{{adjustFractions(((displayValues.values[item])/1000)
                * (currentRecipe.value/100))}}</ion-col>
            <ion-col *ngIf=" itemNames[item] && isTotalTab">{{adjustFractions(totalValues[item])}}</ion-col>
        </ion-row>
    </ion-grid>
</ion-content>