<style>
  select.list {
    margin-top: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    font-family: montserrat;
    color: #2C3E50;
    font-size: 13px;
    background-color: white;
  }
</style>


<div class="icon-bar" *ngIf="isPrimary">
  <a><i  ></i></a>
  <a class="pageTitle"> Registration </a>
  <a style="float: right"><img src="assets/icon/NIN_100_LOGO_FINAL.png" width="40"></a>
</div>

<navbar [pageTitle]="pageTitle" [isDisplayFooter]="false" *ngIf="!isPrimary">
</navbar>

<div > 
  <div id="" *ngIf="!isRestricted">

    <ion-list>
  
  
      <ion-item>
        <ion-input type="text" [(ngModel)]="usename"  placeholder="Your Name"></ion-input>
      </ion-item>


      <ion-item *ngIf="isPrimary">
        <ion-input type="text" placeholder="Email Address" [(ngModel)]="email_address" ></ion-input>
      </ion-item>


      <ion-item> *ngIf="isPrimary"
        <ion-input type="number" max="10" placeholder="Mobile Number" [(ngModel)]="mobile_number"></ion-input>
      </ion-item>


      <ion-item *ngIf="isPrimary">
        <ion-input type="number" max ="4" placeholder="Enter 4 Digit Password" [(ngModel)]="pin"></ion-input>
      </ion-item>


      <ion-item *ngIf="isPrimary">
        <ion-label>Select Country</ion-label>
        <ion-select [(ngModel)]="currentcountry">
          <ion-option selectedText>India</ion-option>
        </ion-select>
      </ion-item>

      <ion-item *ngIf="isPrimary">
        <ion-label>Select State</ion-label>
        <ion-select [(ngModel)]="currentstate"> 
          <ion-option [value]="state[0]" *ngFor="let state of statesList" >{{state[0]}}</ion-option>
        </ion-select>
      </ion-item>



     
    </ion-list>


    <!-- <input type="text" placeholder="Your name" [(ngModel)]="usename" />
   
    <input *ngIf="isPrimary" type="text" placeholder="Email Address" [(ngModel)]="email_address" />
    <input *ngIf="isPrimary" type="number" placeholder="Mobile Number" [(ngModel)]="mobile_number" class="col-md-12"/>

    <input *ngIf="isPrimary" type="number" placeholder="Enter 4 Digit Password" (keydown)="restricttonumbers($event, 'pin')" [(ngModel)]="pin" class="col-md-12"/>
    
    
    <select *ngIf="isPrimary" class="list" [(ngModel)]="currentcountry">
  <option disabled>Select Country</option>
  <option selected>India</option> 
</select>
    <select *ngIf="isPrimary" class="list" [(ngModel)]="currentstate">
  <option value="0">Select State</option>
  <option [value]="state[0]" *ngFor="let state of statesList">{{state[0]}}</option>
</select>
    <select *ngIf="!isPrimary" class="list" [(ngModel)]="relation">
  <option value="relation" selected disabled>Choose Relation</option>
  <option value="Wife">Wife</option>
  <option value="Son">Son</option>
  <option value="Daughter">Daughter</option>
  <option value="Other">Other</option>
</select> -->
<div item-width="100%" class="text-center">
  <button  ion-button color="secondary" (click)="register();">Register</button> 
  <div>
  <p *ngIf="isPrimary" style="display:inline; margin-top:5px;">Already Registered?</p>
  <a *ngIf="isPrimary" style="margin-left:1px;display:inline; margin-top:5px;"    (click)="gotoLogin();">Login</a>
</div>
</div>


    <!-- <input type="button" class="register_button" value="Register" (click)="register();"
    /> -->
  
   
  </div>


  

</div>